*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(09.jpg);
    background-size: cover;
    background-position: center;
   


}

.nav_bar{
    width: 80%;
     margin: auto;
     padding:35px 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: #fff;
     background-size: contain;
 }
 
 .logo{
   width: 120px;
   cursor: pointer;
   font-weight: bold;
   color: #fff;
   font-family: 'Times New Roman', Times, serif;
 }
 
 .nav_list ul li{
    list-style-type: none;
    font-size: 20px;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}
.nav_list ul li a{
   font-size: 20px; 
   text-decoration: none; 
   color: #fff;
   text-transform: uppercase;
}

.nav_list ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: azure;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav_list ul li:hover::after{
    width: 100%;
   
}
 
.welcomeDiv{
   width: 100%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
   color: #fff;

}
.welcomeDiv h2{
    font-size: 70px;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
.welcomeDiv p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button{

    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

 span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button a
{
    text-decoration: none;
    color: #fff;
}
button:hover span{
   width: 100%;
}

button:hover{
    border: none;
}
